:root {
    /* Primary */

    --Very_Dark_Magenta: hsl(300, 43%, 22%);
    --Soft_Pink: hsl(333, 80%, 67%);

    /* Neutral */

    --Dark_Grayish_Magenta: hsl(303, 10%, 53%);
    --Light_Grayish_Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

* {
    font-family: 'League Spartan', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.first__half {
    width: 90%;
    text-align: center;
    
}

/* INFO SECTION */

.info__section h1 {
    font-size: 2em;
    margin: 2em 2em 0 2em;
    color: var(--Very_Dark_Magenta);
}

.info__section p {
    font-size: 1em;
    line-height: 1.3em;
    margin: 2em 1.2em;
    color: var(--Dark_Grayish_Magenta);
}

/* RATINGS */

.ratings__group {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--Very_Dark_Magenta);
    
}

.single__rating {
    background-color: var(--Light_Grayish_Magenta);
    padding: 1rem;
    border-radius: 10px;
}

.stars__icons {
    margin-bottom: 0.625rem;
}

.stars__explained {
    font-weight: 700;
}

